altgraph==0.17
apipkg==1.5
astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.3
configobj==5.0.6
dateutils==0.6.12
delegator.py==0.1.1
Flask==1.1.2
frida==12.11.12
frida-tools==8.1.3
idna==2.10
isort==5.5.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
litecli==1.4.1
macholib==1.14
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.4
objection==1.9.6
pathtools==0.1.2
pexpect==4.8.0
PlexAPI==4.1.2
prompt-toolkit==3.0.7
protobuf==3.13.0
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
dateutils==0.6.12
python-dateutil==2.8.1
numpy==1.19.4
SoundFile==0.10.3.post1
requests==2.24.0
untangle==1.1.1
html2text==2020.1.16
